<section id="about" class="section-margin-top">
  <h2>About Devpixel Space</h2>
  <p class="sub">We are a creative technology company delivering high-impact digital products for startups, enterprises, and agencies worldwide.</p>

  <div class="hero-text"><h3  class="center">Meet Our Team</h3></div>
  <div class="grid">
    <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="omar-pic-2.jpeg" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Omar</h3></div>
        <div class="hero"><h4>Co-Founder | CEO | Overall Leadership | Client Partnerships</h4></div>
        <div class="about-us-card-text">
          <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et non alias magni blanditiis quisquam harum ab itaque. Reprehenderit, mollitia excepturi?</p> -->
          <a href="https://www.linkedin.com/in/omar-sajid-55b076241/" target="_blank"><I>LinkedIn Profile </I><span><img src="arrow-up-right.svg" alt="arrow photo" class="arrow-icon-about"></span></a>
        </div>
    </div>
    <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="humaid-pic.png" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Humaid</h3></div>
        <div class="hero"><h4>Co-Founder | Development Director | Web development | App development</h4></div>
        <div class="about-us-card-text">
          <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et non alias magni blanditiis quisquam harum ab itaque. Reprehenderit, mollitia excepturi?</p> -->
          <a href="https://www.linkedin.com/in/h-alam/" target="_blank"><I>LinkedIn Profile </I><span><img src="arrow-up-right.svg" alt="arrow photo" class="arrow-icon-about"></span></a>
        </div>
    </div>
    <!-- <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="hibban-pic.png" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Hibban</h3></div>
        <div class="hero"><h4>Co-Founder | CTO | Technical Innovation & Strategy</h4></div>
        <div class="about-us-card-text">
          <a href="https://www.linkedin.com/in/hibban813/" target="_blank"><I>LinkedIn Profile </I><span><img src="arrow-up-right.svg" alt="arrow photo" class="arrow-icon-about"></span></a>
        </div>
    </div> -->
    <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="darim-pic.png" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Darim</h3></div>
        <div class="hero"><h4>Co-Founder | Creative Director | Branding | Design | Creative Strategy</h4></div>
        <div class="about-us-card-text">
          <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et non alias magni blanditiis quisquam harum ab itaque. Reprehenderit, mollitia excepturi?</p> -->
          <a href="https://www.linkedin.com/in/darim-tamim-4ba4a2394/" target="_blank"><I>LinkedIn Profile </I><span><img src="arrow-up-right.svg" alt="arrow photo" class="arrow-icon-about"></span></a>
        </div>
    </div>
  </div>
  <!-- SOCIAL MEDIA SECTION -->
  <div style="margin-top:2%">
  <div class="hero-text"><h3  class="center">Follow us on:</h3></div>
    <div class="social-media-grid">
      <div class="card flex-col-center-align">
        <a href="https://www.linkedin.com/company/devpixel-space/" target="_blank">
          <div class="flex-col-center-align">
            <img src="linkedin2.svg" alt="linkedin image" class="card-icon-about-follow">
            <div>DevPixel Space</div>
          </div>
        </a>
      </div>
      <div class="card flex-col-center-align">
        <a href="https://www.instagram.com/devpixelspace?igsh=MTFsNXZ1YmJoN2Rleg==" target="_blank">
          <div class="flex-col-center-align">
            <img src="instagram.svg" alt="instagram image" class="card-icon-about-follow">
            <div>@devpixelspace</div>
          </div>
        </a>
      </div>
      <div class="card flex-col-center-align">
        <a href="https://www.facebook.com/share/1DkYNigdJY/" target="_blank">
          <div class="flex-col-center-align">
            <img src="facebook.svg" alt="facebook image" class="card-icon-about-follow">
            <div>DevPixel Space</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
