<section id="about" class="section-margin-top">
  <h2>About Devpixel Space</h2>
  <p class="sub">We are a creative technology company delivering high-impact digital products for startups, enterprises, and agencies worldwide.</p>

  <div class="hero-text"><h3  class="center">Meet Our Team</h3></div>
  <div class="grid">
    <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="profile-photo.svg" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Omar</h3></div>
        <div class="hero"><h4>Lorem ipsum dolor sit | amet, consectetur | adipisicing.</h4></div>
        <div class="about-us-card-text">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et non alias magni blanditiis quisquam harum ab itaque. Reprehenderit, mollitia excepturi?</p>
        </div>
    </div>
    <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="profile-photo.svg" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Hibban</h3></div>
        <div class="hero"><h4>Lorem ipsum | dolor sit | amet, consectetur adipisicing.</h4></div>
        <div class="about-us-card-text">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et non alias magni blanditiis quisquam harum ab itaque. Reprehenderit, mollitia excepturi?</p>
        </div>
    </div>
    <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="profile-photo.svg" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Darim</h3></div>
        <div class="hero"><h4>Lorem | ipsum dolor sit amet, consectetur | adipisicing.</h4></div>
        <div class="about-us-card-text">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et non alias magni blanditiis quisquam harum ab itaque. Reprehenderit, mollitia excepturi?</p>
        </div>
    </div>
    <div class="card flex-col-center-align">
        <div  class="card-icon-about-img-container">
          <img src="profile-photo.svg" alt="Profile photo" class="card-icon-about">
        </div>
        <div class="hero about-us-name"><h3>Humaid</h3></div>
        <div class="hero"><h4>Lorem ipsum dolor | sit amet, consectetur | adipisicing.</h4></div>
        <div class="about-us-card-text">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et non alias magni blanditiis quisquam harum ab itaque. Reprehenderit, mollitia excepturi?</p>
        </div>
    </div>
  </div>
</section>
