<section id="contact">
  <div class="contact-us-outer-div">
    <div class="section-margin-top">
      <h2>Contact Us</h2>
      <p class="sub">Let’s discuss your project and grow together.</p>

      <div class="contact-details">
        <div class="contact-item">
          <h4>Phone</h4>
          <p>+91 9453092850</p>
          <p>+91 9818739861</p>
        </div>

        <div class="contact-item">
          <h4>Email</h4>
          <p>info@devpixel.com</p>
          <p>support@devpixel.com</p>
        </div>
      </div>
    </div>

    <!-- <div>
      <img src="contact-us.svg" alt="contact us image" class="contact-image">
    </div> -->
  </div>
</section>
