<section id="projects">
  <h2>Our Projects</h2>
  <div class="grid">
    <div class="card"><h3>Development</h3>
        <ul class="clean">
            <li><a href="https://cctvdesk.com" target="_blank">cctvdesk.com</a></li>
            <li><a href="https://qamraltd.com" target="_blank">qamraltd.com</a></li>
            <li><a href="https://mubadalait.com" target="_blank">mubadalait.com</a></li>
            <li><a href="https://ccgcglobal.com" target="_blank">ccgcglobal.com</a></li>
            <li><a href="https://sinmersa.com" target="_blank">sinmersa.com</a></li>
            <li><a href="https://counselandquote.com" target="_blank">counselandquote.com</a></li>
            <li><a href="https://tecknoligent.com" target="_blank">tecknoligent.com</a></li>
            <li><a href="https://withoutplugin.com" target="_blank">withoutplugin.com</a></li>
            <li><a href="https://itascamoccasin.com" target="_blank">itascamoccasin.com</a></li>
        </ul>
    </div>
  </div>
</section>

