<section id="services" class="section-margin-top">
  <h2>Our Services</h2>

  <div class="grid">
    <div class="card">
      <img src="seo.svg" alt="SEO Services" class="card-icon-services">
      <div>SEO, SMO & SMM</div>
    </div>

    <div class="card">
      <img src="website.svg" alt="Web Development" class="card-icon-services">
      <div>Website Design & Development</div>
    </div>

    <div class="card">
      <img src="e-commerce.svg" alt="E-Commerce" class="card-icon-services">
      <div>E-Commerce Solutions</div>
    </div>

    <div class="card">
      <img src="app.svg" alt="Mobile Apps" class="card-icon-services">
      <div>Mobile App Development</div>
    </div>

    <div class="card">
      <img src="logo-design.svg" alt="Brand Design" class="card-icon-services">
      <div>Logo & Brand Design</div>
    </div>

    <div class="card">
      <img src="brochure.svg" alt="Graphic Design" class="card-icon-services">
      <div>Graphic, Brochure & Flyer Design</div>
    </div>

    <div class="card">
      <img src="video-editing.svg" alt="Video Editing" class="card-icon-services">
      <div>Video Editing</div>
    </div>

    <div class="card">
      <img src="license.svg" alt="Software" class="card-icon-services">
      <div>Software Licensing & Digital Products</div>
    </div>
  </div>
</section>


